# yii console command
/yii

# phpstorm project files
.idea

#vargant files
.vagrant

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

*/web/.htaccess
*/web/uploads

/common/uploads/*
/common/uploads/hotel/*
/common/uploads/room/*


!*/.gitkeep
!/common/uploads/hotel
!/common/uploads/room

