.main #content {
    padding: 0;
}

nav.main-menu a.selected  {
    color: #e67300;
}

html, * , a {
    color: #630;
}

a:hover, a:focus {
    color: #630;
}

.logo {
    cursor: pointer;
}


.offer .image img {
    width: 100%;
    max-width: 340px;
    height: auto;
}

#content ul {
    padding: 0;
}

#content ul li {
    margin: 1em 0 1em 0;
    padding-left: 2em;
    background-image: url('../img/ul-mark.png');
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 24px;
}

.more-button {
    display: inline-block;
    color: #f9980f;
    padding: 0.3em 0;
    text-decoration: underline;
}

.more-button.right {
    float: right;
    margin-right: 30px;

}

.more-button:focus, .more-button:hover {
    color: #de8116;
}

.more {
    font-weight: 300 !important;
    text-decoration: underline;
}

.top-baloon {

    font-weight: 300 !important;
}


#content h1, #content h2 {
    text-align: center;
    margin-bottom: 0.5em;
}

#content a {
    text-decoration: underline;
}

#content p {
    margin: 0 0 15px 0;
}

.main #content ul li {
    padding-left: 1.5em;
}

nav.main-menu ul {
    width: auto;
    margin: 0 28px;
}

@media (max-width: 767px) {
    nav.main-menu ul {
        width: 100%;
        margin: 0 !important;
    }
}

nav.main-menu ul li:not(:last-child) {
    padding-right: 28px;
}