<div class="box-header">
    <h3 class="box-title">{{t('image_list_title')}}</h3>

    <span style="font-size: 20px;" class="fa fa-spin fa-gear" ng-show="loading"></span>

</div>
<!-- /.box-header -->

<div class="box-body" >

    <div class="row">
    <form id="add_image" name="add_image" onsubmit="return false;" novalidate enctype="multipart/form-data" method="POST" action="">
        <input type="text" name="hotel_id" style="display: none;" ng-model="newImage.hotel_id">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="addNewImage">{{t('select_file')}}</label>
                <input type="file" name="image" width="200px;" required ng-model="newImage.image"
                       id="addNewImage" placeholder="">
            </div>
            <button ng-disabled="loading" class="btn btn-success" ng-click="save()">{{t('send')}}</button>
        </div>
    </form>
    </div>

    <br/>

    <div ng-show="!images.length" style="color: #aaa;padding: 10px 10px 10px 10px;">
        <h4>{{t('image_list_empty')}}</h4>
    </div>
        
    <div class="hotel-images-container">
        <div class="" ng-repeat="image in images">
            <div href="{{image.image}}" class="hotel-image">
                <img ng-src="{{image.thumb}}">
                <a class="fa fa-close img-del text-red" ng-click="delete(image)"></a>
            </div>
        </div>
    </div>
    
    <div class="remodal" id="modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>{{t('confirm_action')}}</h1>
        <p>
            {{t('delete_confirm')}}
        </p>
        <br>
        <button data-remodal-action="cancel" class="btn">{{t('cancel')}}</button>
        <button data-remodal-action="confirm" class="btn btn-success">{{t('ok')}}</button>
    </div>

</div>
<!-- /.box-body -->