<div class="box-header">
    <h3 class="box-title">{{t('image_list_title')}}</h3>

    <span style="font-size: 20px;" class="fa fa-spin fa-gear" ng-show="loading"></span>

</div>
<!-- /.box-header -->

<div class="box-body" >

    <div class="row">
    <form id="add_image" name="add_image" onsubmit="return false;" novalidate enctype="multipart/form-data" method="POST" action="">
        <div class="col-sm-4">
            <div class="input-group input-group-sm">
                <input type="text" name="hotel_id" ng-show="false" ng-model="newImage.hotel_id">
                <input type="file" class="form-control" name="image" width="200px;" required ng-model="newImage.image" id="addNewImage" placeholder="" >
                <span class="input-group-addon price-inp-addon">
                    <a class="fa fa-check" title="{{t('image_add')}}" ng-click="save()"></a>
                </span>
            </div>
        </div>
    </form>
    </div>
    
    <div ng-show="!images.length" style="color: #aaa;padding: 10px 10px 10px 10px;">
        <h4>{{t('image_list_empty')}}</h4>
    </div>
        
    <div class="row">
        <div class="col-xs-3 col-md-2 col-lg-2" ng-repeat="image in images">
            <a class="fa fa-close img-del" ng-click="delete(image)"></a><br />
            <a href="{{image.image}}" class="thumbnail">
                <img ng-src="{{image.thumb}}">
            </a>
        </div>
    </div>
    
</div>
<!-- /.box-body -->