@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Open+Sans:300italic,400italic,600italic,700italic,400,600,300,700|Roboto:400,300,500&subset=cyrillic-ext,latin);

body {
    font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    /*height: 100%;*/
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.box .box-header > .fa, .box .box-header > .glyphicon, .box .box-header > .ion, .box .box-header .box-title {
    font-weight: 300;
}

/* Price table */
.price-inp {
    padding: 0px !important;
    border: none !important;
    height: 20px !important;
    line-height: normal !important;
}
.price-inp.error {
    color: red;
}
.price-inp-addon {
    padding: 0px 5px !important;
    border: none !important;
    height: 20px !important;
    line-height: normal !important;
    cursor: pointer;
}

#price_titles {
    padding-right: 0;
}
#price_titles table td:nth-child(1) {
    cursor: help;
}

.matrix_data_cont {
    position: relative;
    padding-left: 0;
}
#matrix_data {
    overflow: auto;
    position: absolute;
    width: calc(100% - 3px);
    float: left;
}
/* ./Price table */

/* Images */
.img-del {
    cursor: pointer;
}

/* Availability calendar */
.ava-date {
    font-size: xx-small;
    text-align: right;
    float: right;
}
.table td.nonactive {
    background-color: #f9f9f9;
}
.table td.month-prev {
    border-right: none;
    cursor: pointer;
    color: #d2d6de;
}
.table td.month {
    border-left: none;
    border-right: none;
    text-align: center;
}
.table td.month-next {
    border-left: none;
    text-align: right;
    cursor: pointer;
    color: #d2d6de;
}
.table td.clicable {
    cursor: pointer;
}
.table td.selected {
    background-color: #f39c12;  
}
