<div class="box-header">
    <span style="font-size: 20px;" class="fa fa-gear fa-spin" ng-show="loading"></span>

    <h3 class="box-title">{{t('room_table_head_timetable')}}</h3>

    <div class="box-tools pull-right">
        <a class="btn btn-xs btn-primary" title="{{t('room_table_head_list')}}" ng-click="cancel('#/')" >
            <i class="fa fa-list"></i>
        </a>
        <a class="btn btn-xs btn-primary" title="{{t('room_table_head_update')}}" href="#/edit/{{room.id}}">
            <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-xs btn-primary" title="{{t('room_table_head_photos')}}" ng-click="cancel('#/images/{{room.id}}')">
            <i class="fa fa-camera"></i>
        </a>
        <a class="btn btn-xs btn-primary" title="{{t('room_table_head_money')}}" ng-click="cancel('#/prices/{{room.id}}')">
            <i class="fa fa-usd"></i>
        </a>
    </div>
</div>
<!-- /.box-header -->

<div class="box-body">
    <!-- Room manage block -->
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <select class="form-control" ng-model="room.id" name="price_type" ng-change="changeRoom()"
                    required ng-options="t.id as t['title_'+LANG] for t in rooms">
                </select>
            </div>
        </div>
    </div><!-- /.Room manage block -->

    <!-- Calendar -->
    <div class="row">
        <div class="col-sm-4" ng-repeat="month in months">
            <table class="table table-bordered">
                <tr>
                    <td colspan="1" class="month-prev" ng-click="prevMonth()"><i class="fa fa-backward"></i></td>
                    <td colspan="5" class="month">{{month.name}} {{month.year}}</td>
                    <td colspan="1" class="month-next" ng-click="nextMonth()"><i class="fa fa-forward"></i></td>
                </tr>
                <tr><td ng-repeat="dayOfWeek in month.daysOfWeek">{{dayOfWeek.name}}</td></tr>
                <tr ng-repeat="week in month.weeks">
                    <td ng-repeat="day in week.days" ng-class="{nonactive: !day.active, clicable: day.active, selected: day.selected}" ng-click="chooseDate(day)">
                        <div class="ava-date">{{day.date}}</div>
                        {{day.number}}&nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div><!-- /.Calendar -->

    <div class="modal" id="modal-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelModal()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        {{t('Dates')}}:
                        {{startDate.format(dateFormat)}} <span ng-show="endDate"> &mdash; {{endDate.format(dateFormat)}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                        {{t('Set_number')}}: <input type="number" name="roomsNumber" ng-model="roomsNumber" class="form-control">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                <input name="stopSale" type="checkbox" ng-model="stopSale" />
                                    {{t('Stop_sale')}}
                                </label>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info pull-left" data-dismiss="modal" ng-click="period()" ng-show="!endDate">{{t('period')}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelModal()">{{t('cancel')}}</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>