<div class="box-header">
    <span style="font-size: 20px;" class="fa fa-gear fa-spin" ng-show="loading"></span>

    <h3 class="box-title">{{t('room_table_head_timetable')}}</h3>

    <div class="box-tools pull-right">
        <a class="btn btn-xs btn-primary" title="{{t('room_table_head_list')}}" ng-click="cancel('#/')" >
            <i class="fa fa-list"></i>
        </a>
        <a class="btn btn-xs btn-primary" title="{{t('room_table_head_update')}}" href="#/edit/{{room.id}}">
            <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-xs btn-primary" title="{{t('room_table_head_photos')}}" ng-click="cancel('#/images/{{room.id}}')">
            <i class="fa fa-camera"></i>
        </a>
        <a class="btn btn-xs btn-primary" title="{{t('room_table_head_money')}}" ng-click="cancel('#/prices/{{room.id}}')">
            <i class="fa fa-usd"></i>
        </a>
    </div>
</div>
<!-- /.box-header -->

<div class="box-body">
    <!-- Room manage block -->
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <select class="form-control" ng-model="room.id" name="price_type" ng-change="changeRoom()"
                    required ng-options="t.id as t['title_'+LANG] for t in rooms">
                </select>
            </div>
        </div>
    </div><!-- /.Room manage block -->

    <!--div id="calendar"></div-->

    <div class="row">
        <div class="col-sm-4" ng-repeat="month in months">
            <table class="table table-bordered">
                <tr>
                    <td colspan="1" class="month-prev" ng-click="prevMonth()"><i class="fa fa-backward"></i></td>
                    <td colspan="5" class="month">{{month.name}} {{month.year}}</td>
                    <td colspan="1" class="month-next" ng-click="nextMonth()"><i class="fa fa-forward"></i></td>
                </tr>
                <tr><td ng-repeat="dayOfWeek in month.daysOfWeek">{{dayOfWeek.name}}</td></tr>
                <tr ng-repeat="week in month.weeks">
                    <td ng-repeat="day in week.days" ng-class="{nonactive: !day.active}">
                        <div class="ava-date">{{day.date}}</div>
                        {{day.number}}&nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>