<div class="box-header">
    <h3 class="box-title">{{t('image_list_title')}}</h3>
    <span style="font-size: 20px;" class="fa fa-spin fa-gear" ng-show="loading"></span>

    <div class="box-tools pull-right">
        <a class="btn btn-xs btn-primary" title="{{t('room_table_head_list')}}" href="#/">
            <i class="fa  fa-list"></i>
        </a>
        <a class="btn btn-xs btn-primary" title="{{t('room_table_head_update')}}" href="#/edit/{{room.id}}">
            <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-xs btn-primary" title="{{t('room_table_head_timetable')}}" href="#/availability/{{room.id}}">
            <i class="fa fa-calendar"></i>
        </a>
    </div>
</div>
<!-- /.box-header -->


<div class="box-body">
    <!-- Room manage block -->
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <select class="form-control" ng-model="room.id" name="price_type" ng-change="changeRoom()"
                        required ng-options="t.id as t['title_'+LANG] for t in rooms">
                </select>
            </div>
        </div>
    </div>
    <!-- /.Room manage block -->

    <div class="row">

        <div class="col-xs-12">
            <form id="add_image" name="add_image" onsubmit="return false;" novalidate enctype="multipart/form-data"
                  method="POST" action="">
                <input type="text" name="room_id" ng-show="false" ng-model="newImage.room_id">

                <div class="form-group">
                    <label>{{t('image_add')}}</label>
                    <input type="file" class="" name="image" width="200px;" required
                           ng-model="newImage.image" id="addNewImage" placeholder="">
                </div>
                <button ng-disabled="loading" class="btn btn-success" ng-click="save()">{{t('send')}}</button>
            </form>

        </div>


    </div>

    <div ng-show="!images.length" style="color: #aaa;padding: 10px 10px 10px 10px;">
        <h4>{{t('image_list_empty')}}</h4>
    </div>
    <br/>
    <div class="hotel-images-container">
        <div class="" ng-repeat="image in images">
            <div href="{{image.image}}" class="hotel-image">
                <img ng-src="{{image.thumb}}">
                <a class="fa fa-close img-del text-red" ng-click="delete(image)"></a>
            </div>
        </div>
    </div>

</div>
<!-- /.box-body -->