<div class="box-header">
    <h3 class="box-title">{{t('room_list_title')}}</h3>

    <span style="font-size: 20px;" class="fa fa-spin fa-gear" ng-show="loading"></span>

    <div class="box-tools pull-right">
        <a href="#/add" class="btn btn-link" ><i class="fa fa-plus-circle"></i> {{t('room_add')}}</a>
    </div>
</div>
<!-- /.box-header -->

<div class="box-body no-padding" >

    <div ng-show="!rooms.length && !loading" style="color: #aaa;padding: 10px 10px 10px 10px;">
        <h4>{{t('room_list_empty')}}</h4>
    </div>

    <table  ng-show="rooms.length" class="table table-hover">
        <thead>
            <tr>
                <th>{{t('room_table_head_title')}}</th>
                <th>{{t('room_table_head_adults')}}</th>
                <th>{{t('room_table_head_children')}}</th>
                <th>{{t('room_table_head_total')}}</th>
                <th>{{t('room_table_head_price_type')}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="room in rooms" ng-click="select(room)" ng-class="{info: selectedRoom == room}">
                <td>{{room['title_' + LANG]}}</td>
                <td>{{room.adults}}</td>
                <td>{{room.children}}</td>
                <td>{{room.total}}</td>
                <td>{{getPriceType(room)['name_'+LANG]}}</td>
                <td>
                    <a class="btn btn-xs btn-primary" title="{{t('room_table_head_update')}}" href="#/edit/{{room.id}}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-xs btn-primary" title="{{t('room_table_head_money')}}" href="#/">
                        <i class="fa fa-usd"></i>
                    </a>
                    <a class="btn btn-xs btn-primary" title="{{t('room_table_head_timetable')}}" href="#/">
                        <i class="fa fa-calendar"></i>
                    </a>
                    <a class="btn btn-xs btn-danger" title="{{t('room_table_head_delete')}}" ng-click="delete(room)">
                        <i class="fa fa-close"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /.box-body -->

<!-- Price block -->
<div class="box-body" ng-show="selectedRoom !== null">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>{{t('room_price_date_range')}}</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="daterange" ng-model="filter.date" />
                </div><!-- /.input group -->
            </div><!-- /.form group -->
        </div><!-- /.col -->
        <div class="col-sm-4">
            <div class="form-group">
                <label>&nbsp;</label>
                <div class="input-group">
                    <a class="btn btn-primary" ng-click="getPrices()">
                        <i class="fa  fa-filter"></i>
                        Search
                    </a>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    <div class="row">
    <div id="price_titles" class="col-sm-4">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width:50%;">{{t('price_table_col_1_title')}}</th>
                    <th style="width:50%;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="title in titles">
                    <td>{{title.title}}</td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control price-inp" ng-class="{error: title._error}" ng-model="title.price">
                            <span class="input-group-addon price-inp-addon" >
                                <a class="fa fa-angle-double-right" ng-click="groupPriceSave($index,title)"></a>
                            </span>
                        </div>
                    </td>
                </tr>        
            </tbody>
        </table>
    </div>
    <span style="font-size: 20px;" class="fa fa-spin fa-gear" ng-show="selectedRoom !== null && priceLoading"></span>
    <div class="col-sm-8 matrix_data_cont">
        <div id="matrix_data">
        <table id="price_table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th ng-repeat="date in dates">{{date}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="priceCol in prices">
                    <td ng-repeat="price in priceCol">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control price-inp" ng-class="{error: price._error}" ng-model="price.price" ng-change="priceEdit(price)">
                            <span class="input-group-addon price-inp-addon" ng-show="price._focused">
                                <a class="fa fa-check" ng-click="priceSave(price)"></a>
                            </span>
                            <span class="input-group-addon price-inp-addon" ng-show="price._focused">
                                <a class="fa fa-close text-red" ng-click="priceCancel(price)"></a>
                            </span>
                        </div>
                    </td>
                </tr>        
            </tbody>
        </table>
        </div>
    </div>
    </div><!-- /.row -->
</div>
<br />
<!-- /.box-body -->
<!-- /Price block -->
