<div class="box-header">
    <h3 class="box-title">{{t('room_list_title')}}</h3>

    <span style="font-size: 20px;" class="fa fa-spin fa-gear" ng-show="loading"></span>

    <div class="box-tools pull-right">
        <a href="#/add" class="btn btn-link" ><i class="fa fa-plus-circle"></i> {{t('room_add')}}</a>
    </div>
</div>
<!-- /.box-header -->

<div class="box-body no-padding" >

    <div ng-show="!rooms.length && !loading" style="color: #aaa;padding: 10px 10px 10px 10px;">
        <h4>{{t('room_list_empty')}}</h4>
    </div>

    <table  ng-show="rooms.length" class="table table-hover">
        <thead>
            <tr>
                <th>{{t('room_table_head_title')}}</th>
                <th>{{t('room_table_head_adults')}}</th>
                <th>{{t('room_table_head_children')}}</th>
                <th>{{t('room_table_head_total')}}</th>
                <th>{{t('room_table_head_price_type')}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="room in rooms" ng-click="select(room)" ng-class="{info: selectedRoom == room}">
                <td>{{room['title_' + LANG]}}</td>
                <td>{{room.adults}}</td>
                <td>{{room.children}}</td>
                <td>{{room.total}}</td>
                <td>{{getPriceType(room)['name_'+LANG]}}</td>
                <td>
                    <a class="btn btn-xs btn-primary" title="{{t('room_table_head_update')}}" href="#/edit/{{room.id}}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-xs btn-primary" title="{{t('room_table_head_money')}}" href="#/prices/{{room.id}}">
                        <i class="fa fa-usd"></i>
                    </a>
                    <a class="btn btn-xs btn-primary" title="{{t('room_table_head_timetable')}}" href="#/">
                        <i class="fa fa-calendar"></i>
                    </a>
                    <a class="btn btn-xs btn-danger" title="{{t('room_table_head_delete')}}" ng-click="delete(room)">
                        <i class="fa fa-close"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /.box-body -->